<ion-header>

  <ion-navbar color="PK">
    <ion-title>ส่งคำขอเพิ่มระยะเวลาการเช่าร้าน</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-item color="menu">
        <h5>(ขั้นตอนการเพิ่มระยะเวลาเปิดร้าน)</h5>
    </ion-item>
    <br>
    <h6>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       1.&nbsp;เลือกระยะเวลา</h6>
    <h6>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       2.&nbsp;เพิ่มหลักฐานการชำระเงิน</h6>
    <h6>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       3.&nbsp;ส่งคำร้องเพื่อให้ Admin ตรวจสอบหลักฐานและเพิ่มระยะเวลา</h6>
    <br>
    <ion-item color="menu">
        <h5>(ช่องทางการชำระเงิน)</h5>
    </ion-item>
    <ion-list menuClose ion-item *ngFor="let payCh of payList">
        <ion-item text-wrap>
            <h2>{{payCh.pay_detail}}</h2>
        </ion-item>
    </ion-list>
    <ion-item>
        <ion-label>เลือกระยะเวลา</ion-label>
        <ion-select [(ngModel)]="lease_addtime" placeholder="กดเลือก">
            <ion-option value="1"> 60 วัน 50  ฿</ion-option>
            <ion-option value="2"> 90 วัน 60  ฿</ion-option>
            <ion-option value="3">180 วัน 90  ฿</ion-option>
            <ion-option value="4">365 วัน 130 ฿</ion-option>
        </ion-select>
    </ion-item>
      <h6>(* เพิ่มรูปหลักฐานการชำระเงิน)</h6>
      <ion-row>
          <img [src]="base64Image" *ngIf="base64Image" noshade="noshade" width="100%" height="100%" size="3">
          <img *ngIf="!base64Image" noshade="noshade" width="100%" height="100%" size="3">
      <button ion-button icon-left clear small (click)="takePicture()">
          <ion-icon name="camera"></ion-icon>
          <div>Camera</div>
        </button>     
        <button ion-button icon-left clear small (click)="browsePicture()">
          <ion-icon name="folder-open"></ion-icon>
          <div>Browse</div>
        </button>
        <button ion-button icon-left clear small color="danger" 
        (click)="removePicture()" [disabled]="!base64Image">
          <ion-icon name="trash"></ion-icon>
          <div>Remove</div>
        </button>
      </ion-row>
      <div padding>
        <button (click)="doLease()" [disabled]="!lease_addtime" ion-button color="btn" block>ส่งคำร้อง</button>
      </div>
      

</ion-content>
