<ion-header>

  <ion-navbar color="PK">
    <ion-title>รายละเอียดรายการอาหารในตะกร้า</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-item color="menu">
        <ion-label>[รายการอาหารในตะกร้า]</ion-label>
    </ion-item>
    <br>
    <ion-list menuClose ion-item *ngFor="let orders of orderdata ; let i = index">
      <ion-item *ngIf="orderdata">
          <h2>{{orders.menuname}}</h2><br>
          <h3>ราคา : {{orders.menuprice}} จำนวนในตะกร้า : {{orders.amount}}</h3>
          <h3>ราคารวม : {{orders.menuprice * orders.amount}}</h3>
          <ion-icon name="md-trash" item-right (click)="removeOrder(i)"></ion-icon>
      </ion-item>
    </ion-list>

    <ion-item menuClose ion-item *ngIf="orderdata">
        <button ion-button color="btn" (click)="sendOrder(orderdata)" block><ion-icon name="md-add"></ion-icon>&nbsp;&nbsp;ทำรายการสั่งซื้อ</button>
    </ion-item>

</ion-content>
