.img-ma{
    margin-top: 5%;
   margin-left: 35%; 
   width: 30%;
  }

  .imgprofile {
    border-radius: 25px;
    
  }
  .center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}



